@font-face {
  font-family: "icon-qt";
  /* Project id 3271933 */
  src: url("iconfont.woff2?t=1652694762409") format("woff2"),
    url("iconfont.woff?t=1652694762409") format("woff"),
    url("iconfont.ttf?t=1652694762409") format("truetype");
}

.icon-qt {
  font-family: "icon-qt" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qt-signature:before {
  content: "\e8af";
}

.icon-qt-yingyong:before {
  content: "\e81e";
}

.icon-qt-generator-section:before {
  content: "\e853";
}

.icon-qt-lianxi:before {
  content: "\e873";
}

.icon-qt-bigScreenExampl:before {
  content: "\e755";
}

.icon-qt-appForm:before {
  content: "\e756";
}

.icon-qt-authorize:before {
  content: "\e75c";
}

.icon-qt-dataApplication:before {
  content: "\e75d";
}

.icon-qt-dataDictionary:before {
  content: "\e76c";
}

.icon-qt-codeGeneration:before {
  content: "\e76f";
}

.icon-qt-documentPreviewExample:before {
  content: "\e77b";
}

.icon-qt-dataInterface:before {
  content: "\e78f";
}

.icon-qt-bigScreenDesign:before {
  content: "\e7a7";
}

.icon-qt-dataSync:before {
  content: "\e7ab";
}

.icon-qt-extend:before {
  content: "\e7b1";
}

.icon-qt-flowForm:before {
  content: "\e7b2";
}

.icon-qt-dataModel:before {
  content: "\e7bb";
}

.icon-qt-formExample:before {
  content: "\e7c8";
}

.icon-qt-department:before {
  content: "\e812";
}

.icon-qt-dataSource:before {
  content: "\e816";
}

.icon-qt-flowLaunch:before {
  content: "\e81b";
}

.icon-qt-flowForm1:before {
  content: "\e81f";
}

.icon-qt-formDesign:before {
  content: "\e827";
}

.icon-qt-highchartsWordcloud:before {
  content: "\e82c";
}

.icon-qt-dataBackup:before {
  content: "\e830";
}

.icon-qt-flowEntrust:before {
  content: "\e831";
}

.icon-qt-role:before {
  content: "\e832";
}

.icon-qt-information:before {
  content: "\e834";
}

.icon-qt-portalDesign:before {
  content: "\e83b";
}

.icon-qt-highchartsColumn:before {
  content: "\e83c";
}

.icon-qt-onlineUser:before {
  content: "\e83f";
}

.icon-qt-sysMonitor:before {
  content: "\e842";
}

.icon-qt-sysCache:before {
  content: "\e843";
}

.icon-qt-organization:before {
  content: "\e845";
}

.icon-qt-flowTodo:before {
  content: "\e847";
}

.icon-qt-pause:before {
  content: "\e849";
}

.icon-qt-report-icon-preview-pageIndex:before {
  content: "\e84c";
}

.icon-qt-sysProvince:before {
  content: "\e850";
}

.icon-qt-sysNotice:before {
  content: "\e851";
}

.icon-qt-wf-finishedProduct:before {
  content: "\e852";
}

.icon-qt-reportExample:before {
  content: "\e85d";
}

.icon-qt-wf-crmOrder:before {
  content: "\e864";
}

.icon-qt-signetExample:before {
  content: "\e866";
}

.icon-qt-position:before {
  content: "\e867";
}

.icon-qt-permission:before {
  content: "\e868";
}

.icon-qt-user:before {
  content: "\e871";
}

.icon-qt-wf-expenseExpenditure:before {
  content: "\e877";
}

.icon-qt-onlineDevelopment:before {
  content: "\e87a";
}

.icon-qt-sysBillRule:before {
  content: "\e88b";
}

.icon-qt-system:before {
  content: "\e892";
}

.icon-qt-reportDesign:before {
  content: "\e896";
}

.icon-qt-sysQuartz:before {
  content: "\e897";
}

.icon-qt-workFlow:before {
  content: "\e89e";
}

.icon-qt-sysIcon:before {
  content: "\e8a4";
}

.icon-qt-huibao:before {
  content: "\e8a5";
}

.icon-qt-webForm:before {
  content: "\e8a6";
}

.icon-qt-wf-staffOvertime:before {
  content: "\e8a7";
}

.icon-qt-tree-manage1:before {
  content: "\e8a8";
}

.icon-qt-webDesign:before {
  content: "\e8a9";
}

.icon-qt-wf-receiptSign:before {
  content: "\e8aa";
}

.icon-qt-windows:before {
  content: "\e8ab";
}

.icon-qt-systemTemplate:before {
  content: "\e8ac";
}

.icon-qt-sysLog:before {
  content: "\e8ad";
}

.icon-qt-sysConfig:before {
  content: "\e8ae";
}

.icon-qt-header-pannel:before {
  content: "\e7cf";
}

.icon-qt-search:before {
  content: "\e804";
}

.icon-qt-header-message:before {
  content: "\e810";
}

.icon-qt-generator-jobs:before {
  content: "\e819";
}

.icon-qt-clean:before {
  content: "\e83e";
}

.icon-qt-header-IM:before {
  content: "\e899";
}

.icon-qt-header-language:before {
  content: "\e8a3";
}

.icon-qt-flowDone-app:before {
  content: "\e7a6";
}

.icon-qt-flowLaunch-app:before {
  content: "\e7b3";
}

.icon-qt-addFlow:before {
  content: "\e7b8";
}

.icon-qt-flowCopy-app:before {
  content: "\e7bf";
}

.icon-qt-flowTodo-app:before {
  content: "\e8a2";
}

.icon-qt-mobile:before {
  content: "\e7dc";
}

.icon-qt-pc:before {
  content: "\e7ee";
}

.icon-qt-video-play:before {
  content: "\e8a1";
}

.icon-qt-header-collapse1:before {
  content: "\e809";
}

.icon-qt-xitong:before {
  content: "\e814";
}

.icon-qt-full-screen1:before {
  content: "\e7d0";
}

.icon-qt-file-html1:before {
  content: "\e7d1";
}

.icon-qt-generator-area:before {
  content: "\e7d2";
}

.icon-qt-generator-modifytime:before {
  content: "\e7d3";
}

.icon-qt-generator-fold:before {
  content: "\e7d4";
}

.icon-qt-generator-founder:before {
  content: "\e7d5";
}

.icon-qt-generator-line:before {
  content: "\e7d6";
}

.icon-qt-generator-department:before {
  content: "\e7d7";
}

.icon-qt-generator-function:before {
  content: "\e7d8";
}

.icon-qt-generator-notice:before {
  content: "\e7d9";
}

.icon-qt-generator-Provinces:before {
  content: "\e7da";
}

.icon-qt-generator-popup-attr:before {
  content: "\e7dd";
}

.icon-qt-generator-divider:before {
  content: "\e7de";
}

.icon-qt-generator-radio:before {
  content: "\e7df";
}

.icon-qt-generator-menu:before {
  content: "\e7e0";
}

.icon-qt-generator-popup:before {
  content: "\e7e1";
}

.icon-qt-generator-input:before {
  content: "\e7e2";
}

.icon-qt-generator-rich-text:before {
  content: "\e7e3";
}

.icon-qt-generator-Panel:before {
  content: "\e7e4";
}

.icon-qt-generator-table:before {
  content: "\e7e5";
}

.icon-qt-generator-radar:before {
  content: "\e7e6";
}

.icon-qt-generator-password:before {
  content: "\e7e7";
}

.icon-qt-generator-component:before {
  content: "\e7e8";
}

.icon-qt-generator-station:before {
  content: "\e7e9";
}

.icon-qt-generator-rate:before {
  content: "\e7ea";
}

.icon-qt-generator-subFlow1:before {
  content: "\e7eb";
}

.icon-qt-generator-number:before {
  content: "\e7ec";
}

.icon-qt-generator-steps:before {
  content: "\e7ed";
}

.icon-qt-generator-flow:before {
  content: "\e7ef";
}

.icon-qt-generator-color:before {
  content: "\e7f0";
}

.icon-qt-generator-label:before {
  content: "\e7f1";
}

.icon-qt-generator-nature:before {
  content: "\e7f2";
}

.icon-qt-generator-select:before {
  content: "\e7f3";
}

.icon-qt-generator-slider:before {
  content: "\e7f4";
}

.icon-qt-generator-qrcode:before {
  content: "\e7f5";
}

.icon-qt-generator-group:before {
  content: "\e7f6";
}

.icon-qt-generator-time:before {
  content: "\e7f7";
}

.icon-qt-generator-user:before {
  content: "\e7f8";
}

.icon-qt-generator-modifier:before {
  content: "\e7f9";
}

.icon-qt-h5:before {
  content: "\e7fa";
}

.icon-qt-generator-tree:before {
  content: "\e7fb";
}

.icon-qt-gonggao:before {
  content: "\e7fc";
}

.icon-qt-generator-kanban:before {
  content: "\e7fd";
}

.icon-qt-generator-textarea:before {
  content: "\e7fe";
}

.icon-qt-generator-todo:before {
  content: "\e7ff";
}

.icon-qt-header-loginOut:before {
  content: "\e800";
}

.icon-qt-header-expand:before {
  content: "\e801";
}

.icon-qt-generator-time-range:before {
  content: "\e802";
}

.icon-qt-header-lockScreen:before {
  content: "\e803";
}

.icon-qt-generator-switch:before {
  content: "\e805";
}

.icon-qt-header-feedBack:before {
  content: "\e806";
}

.icon-qt-header-skins:before {
  content: "\e807";
}

.icon-qt-global-role:before {
  content: "\e808";
}

.icon-qt-highchartsBullet:before {
  content: "\e80b";
}

.icon-qt-header-userInfo:before {
  content: "\e80c";
}

.icon-qt-generator-upload:before {
  content: "\e80d";
}

.icon-qt-generator-todolist:before {
  content: "\e80e";
}

.icon-qt-highchartsArea:before {
  content: "\e80f";
}

.icon-qt-highchartsFunnel:before {
  content: "\e811";
}

.icon-qt-highcharts:before {
  content: "\e813";
}

.icon-qt-header-about:before {
  content: "\e815";
}

.icon-qt-importAndExportExample:before {
  content: "\e817";
}

.icon-qt-highchartsScatter:before {
  content: "\e818";
}

.icon-qt-header-language1:before {
  content: "\e81a";
}

.icon-qt-mpMenu:before {
  content: "\e81c";
}

.icon-qt-group:before {
  content: "\e81d";
}

.icon-qt-nav-close:before {
  content: "\e820";
}

.icon-qt-highchartsLine:before {
  content: "\e821";
}

.icon-qt-ios:before {
  content: "\e822";
}

.icon-qt-highchartsBellcurve:before {
  content: "\e823";
}

.icon-qt-mpMaterial:before {
  content: "\e824";
}

.icon-qt-mpMessage:before {
  content: "\e825";
}

.icon-qt-message:before {
  content: "\e826";
}

.icon-qt-java:before {
  content: "\e828";
}

.icon-qt-node:before {
  content: "\e829";
}

.icon-qt-orderDemo:before {
  content: "\e82a";
}

.icon-qt-position-1:before {
  content: "\e82b";
}

.icon-qt-nav-next:before {
  content: "\e82d";
}

.icon-qt-projectExample:before {
  content: "\e82f";
}

.icon-qt-mapExample:before {
  content: "\e833";
}

.icon-qt-qyUser:before {
  content: "\e835";
}

.icon-qt-scanCode1:before {
  content: "\e836";
}

.icon-qt-report-icon-picture:before {
  content: "\e837";
}

.icon-qt-mpConfig:before {
  content: "\e838";
}

.icon-qt-options1:before {
  content: "\e839";
}

.icon-qt-nav-prev:before {
  content: "\e83a";
}

.icon-qt-scheduleExample:before {
  content: "\e83d";
}

.icon-qt-Refresh:before {
  content: "\e840";
}

.icon-qt-options:before {
  content: "\e841";
}

.icon-qt-saolian:before {
  content: "\e844";
}

.icon-qt-shezhi:before {
  content: "\e846";
}

.icon-qt-sysMenu:before {
  content: "\e848";
}

.icon-qt-barCodeExample:before {
  content: "\e73b";
}

.icon-qt-sysLanguage:before {
  content: "\e84a";
}

.icon-qt-report-icon-pie:before {
  content: "\e84b";
}

.icon-qt-bigScreenExample1:before {
  content: "\e73e";
}

.icon-qt-bigDataExample:before {
  content: "\e73f";
}

.icon-qt-orderExample:before {
  content: "\e84d";
}

.icon-qt-preview-excel-paging:before {
  content: "\e84e";
}

.icon-qt-btn-import:before {
  content: "\e741";
}

.icon-qt-tableExample:before {
  content: "\e84f";
}

.icon-qt-btn-collapse:before {
  content: "\e742";
}

.icon-qt-btn-edit:before {
  content: "\e743";
}

.icon-qt-chartExample:before {
  content: "\e744";
}

.icon-qt-btn-refresh:before {
  content: "\e746";
}

.icon-qt-tree-department:before {
  content: "\e855";
}

.icon-qt-checktriangle:before {
  content: "\e747";
}

.icon-qt-nav-home:before {
  content: "\e857";
}

.icon-qt-btn-fields:before {
  content: "\e748";
}

.icon-qt-tree-department2:before {
  content: "\e858";
}

.icon-qt-btn-export:before {
  content: "\e749";
}

.icon-qt-tree-normal1:before {
  content: "\e859";
}

.icon-qt-btn-preview:before {
  content: "\e74a";
}

.icon-qt-tree-normal:before {
  content: "\e85a";
}

.icon-qt-tree-organization3:before {
  content: "\e85b";
}

.icon-qt-btn-add:before {
  content: "\e74c";
}

.icon-qt-tree-position2:before {
  content: "\e85c";
}

.icon-qt-btn-expand:before {
  content: "\e74e";
}

.icon-qt-tree-user2:before {
  content: "\e85e";
}

.icon-qt-daiban1:before {
  content: "\e74f";
}

.icon-qt-tree-department1:before {
  content: "\e85f";
}

.icon-qt-daka:before {
  content: "\e750";
}

.icon-qt-tableExample1:before {
  content: "\e860";
}

.icon-qt-tree-manage:before {
  content: "\e861";
}

.icon-qt-android:before {
  content: "\e752";
}

.icon-qt-wf-applyDeliverGoods:before {
  content: "\e862";
}

.icon-qt-darg:before {
  content: "\e753";
}

.icon-qt-wechat1:before {
  content: "\e863";
}

.icon-qt-duties:before {
  content: "\e754";
}

.icon-qt-tree-position1:before {
  content: "\e865";
}

.icon-qt-echartsColumn:before {
  content: "\e757";
}

.icon-qt-delete:before {
  content: "\e758";
}

.icon-qt-echartsCandlestick:before {
  content: "\e759";
}

.icon-qt-visual-studio:before {
  content: "\e869";
}

.icon-qt-btn-remove:before {
  content: "\e75a";
}

.icon-qt-wf-conBilling:before {
  content: "\e86a";
}

.icon-qt-echartsFunnel:before {
  content: "\e75b";
}

.icon-qt-wf-batchPack:before {
  content: "\e86b";
}

.icon-qt-tree-department-1:before {
  content: "\e86c";
}

.icon-qt-wf-articlesWarehous:before {
  content: "\e86d";
}

.icon-qt-emailExample:before {
  content: "\e75e";
}

.icon-qt-wf-applyMeeting:before {
  content: "\e86e";
}

.icon-qt-dingdang:before {
  content: "\e75f";
}

.icon-qt-wf-batchTable:before {
  content: "\e86f";
}

.icon-qt-echartsLineArea:before {
  content: "\e760";
}

.icon-qt-wf-applyBanquet:before {
  content: "\e870";
}

.icon-qt-crm:before {
  content: "\e761";
}

.icon-qt-extend-ambulance:before {
  content: "\e762";
}

.icon-qt-wf-documentApproval:before {
  content: "\e872";
}

.icon-qt-echartsScatter:before {
  content: "\e763";
}

.icon-qt-wf-archivalBorrow:before {
  content: "\e874";
}

.icon-qt-dbLink:before {
  content: "\e764";
}

.icon-qt-wf-debitBill:before {
  content: "\e875";
}

.icon-qt-dot-net:before {
  content: "\e765";
}

.icon-qt-weChat:before {
  content: "\e876";
}

.icon-qt-extend-exclamation-triangle:before {
  content: "\e766";
}

.icon-qt-btn-copy:before {
  content: "\e767";
}

.icon-qt-wf-contractApproval:before {
  content: "\e879";
}

.icon-qt-documentExample:before {
  content: "\e768";
}

.icon-qt-echartsLineBar:before {
  content: "\e769";
}

.icon-qt-wf-documentSigning:before {
  content: "\e87b";
}

.icon-qt-extend-clock:before {
  content: "\e76a";
}

.icon-qt-wf-contractApprovalSheet:before {
  content: "\e87d";
}

.icon-qt-extend-check-circle-o:before {
  content: "\e76b";
}

.icon-qt-wf-leaveApply:before {
  content: "\e87f";
}

.icon-qt-wf-letterService:before {
  content: "\e880";
}

.icon-qt-erweima:before {
  content: "\e76d";
}

.icon-qt-wf-officeSupplies:before {
  content: "\e881";
}

.icon-qt-echartsBarAcross:before {
  content: "\e76e";
}

.icon-qt-wf-payDistribution:before {
  content: "\e882";
}

.icon-qt-wf-incomeRecognition:before {
  content: "\e883";
}

.icon-qt-extend-eye:before {
  content: "\e770";
}

.icon-qt-wf-postBatchTab:before {
  content: "\e884";
}

.icon-qt-extend-circle:before {
  content: "\e771";
}

.icon-qt-wf-quotationApproval:before {
  content: "\e885";
}

.icon-qt-extend-bar-chart:before {
  content: "\e772";
}

.icon-qt-wf-rewardPunishment:before {
  content: "\e886";
}

.icon-qt-extend-mail-forward:before {
  content: "\e773";
}

.icon-qt-wf-monthlyReport:before {
  content: "\e887";
}

.icon-qt-extend-car:before {
  content: "\e774";
}

.icon-qt-wf-materialRequisition:before {
  content: "\e888";
}

.icon-qt-extend-meh:before {
  content: "\e775";
}

.icon-qt-wf-procurementMaterial:before {
  content: "\e889";
}

.icon-qt-extend-cog:before {
  content: "\e776";
}

.icon-qt-wf-outboundOrder:before {
  content: "\e88a";
}

.icon-qt-extend-minus-circle:before {
  content: "\e777";
}

.icon-qt-echartsPie:before {
  content: "\e778";
}

.icon-qt-wf-receiptProcessing:before {
  content: "\e88c";
}

.icon-qt-extend-envelope:before {
  content: "\e779";
}

.icon-qt-wf-salesOrder:before {
  content: "\e88d";
}

.icon-qt-compress-screen:before {
  content: "\e77a";
}

.icon-qt-wf-salesSupport:before {
  content: "\e88e";
}

.icon-qt-wf-travelApply:before {
  content: "\e88f";
}

.icon-qt-echartsTree:before {
  content: "\e77c";
}

.icon-qt-wf-paymentApply:before {
  content: "\e890";
}

.icon-qt-extend-star-o:before {
  content: "\e77d";
}

.icon-qt-wf-violationHandling:before {
  content: "\e891";
}

.icon-qt-extend-paper-plane:before {
  content: "\e77e";
}

.icon-qt-extend-history:before {
  content: "\e77f";
}

.icon-qt-wf-purchaseList:before {
  content: "\e893";
}

.icon-qt-echartsGauge:before {
  content: "\e780";
}

.icon-qt-wf-warehouseReceipt:before {
  content: "\e894";
}

.icon-qt-extend-edit:before {
  content: "\e781";
}

.icon-qt-wf-workContactSheet:before {
  content: "\e895";
}

.icon-qt-extend-plane:before {
  content: "\e782";
}

.icon-qt-file-blank:before {
  content: "\e783";
}

.icon-qt-extend-folder-open:before {
  content: "\e784";
}

.icon-qt-wf-travelReimbursement:before {
  content: "\e898";
}

.icon-qt-extend-thumbs-up:before {
  content: "\e785";
}

.icon-qt-extend-truck:before {
  content: "\e786";
}

.icon-qt-wf-supplementCard:before {
  content: "\e89a";
}

.icon-qt-extend-folder:before {
  content: "\e787";
}

.icon-qt-zhanghao:before {
  content: "\e89b";
}

.icon-qt-extend-paperclip:before {
  content: "\e788";
}

.icon-qt-zuzhi:before {
  content: "\e89c";
}

.icon-qt-extend-star:before {
  content: "\e789";
}

.icon-qt-xingcheng:before {
  content: "\e89d";
}

.icon-qt-extend-train:before {
  content: "\e78a";
}

.icon-qt-extend-motorcycle:before {
  content: "\e78b";
}

.icon-qt-wf-vehicleApply:before {
  content: "\e89f";
}

.icon-qt-file-photo:before {
  content: "\e78c";
}

.icon-qt-zujian:before {
  content: "\e8a0";
}

.icon-qt-extend-subway:before {
  content: "\e78d";
}

.icon-qt-extend-envelope-open-o:before {
  content: "\e78e";
}

.icon-qt-file-csv1:before {
  content: "\e790";
}

.icon-qt-extend-pencil:before {
  content: "\e791";
}

.icon-qt-extend-bicycle:before {
  content: "\e792";
}

.icon-qt-extend-save:before {
  content: "\e793";
}

.icon-qt-extend-trash:before {
  content: "\e795";
}

.icon-qt-extend-bus:before {
  content: "\e796";
}

.icon-qt-file-eps:before {
  content: "\e797";
}

.icon-qt-file-ai:before {
  content: "\e798";
}

.icon-qt-extend-share:before {
  content: "\e799";
}

.icon-qt-file-audio:before {
  content: "\e79b";
}

.icon-qt-file-word:before {
  content: "\e79c";
}

.icon-qt-file-pdf:before {
  content: "\e79d";
}

.icon-qt-file-code:before {
  content: "\e79f";
}

.icon-qt-flowCirculate:before {
  content: "\e7a1";
}

.icon-qt-file-ppt:before {
  content: "\e7a4";
}

.icon-qt-file-video:before {
  content: "\e7a5";
}

.icon-qt-file-zip:before {
  content: "\e7a8";
}

.icon-qt-flowDone:before {
  content: "\e7a9";
}

.icon-qt-file-psd:before {
  content: "\e7aa";
}

.icon-qt-gangwei2:before {
  content: "\e7ac";
}

.icon-qt-full-screen:before {
  content: "\e7ad";
}

.icon-qt-file-rar:before {
  content: "\e7ae";
}

.icon-qt-file-visio-1:before {
  content: "\e7af";
}

.icon-qt-file-movie:before {
  content: "\e7b0";
}

.icon-qt-generator-barcode:before {
  content: "\e7b4";
}

.icon-qt-flowDesign:before {
  content: "\e7b5";
}

.icon-qt-formExample1:before {
  content: "\e7b7";
}

.icon-qt-file-xml:before {
  content: "\e7b9";
}

.icon-qt-flowMonitor:before {
  content: "\e7ba";
}

.icon-qt-extend-rocket:before {
  content: "\e7bc";
}

.icon-qt-file-image:before {
  content: "\e7bd";
}

.icon-qt-generator-bar:before {
  content: "\e7be";
}

.icon-qt-generator-date-range:before {
  content: "\e7c0";
}

.icon-qt-generator-date:before {
  content: "\e7c1";
}

.icon-qt-generator-card:before {
  content: "\e7c2";
}

.icon-qt-file-visio:before {
  content: "\e7c3";
}

.icon-qt-generator-dictionary:before {
  content: "\e7c4";
}

.icon-qt-generator-email:before {
  content: "\e7c5";
}

.icon-qt-generator-company:before {
  content: "\e7c6";
}

.icon-qt-generator-annular:before {
  content: "\e7c7";
}

.icon-qt-generator-button:before {
  content: "\e7c9";
}

.icon-qt-generator-count:before {
  content: "\e7ca";
}

.icon-qt-generator-layout:before {
  content: "\e7cb";
}

.icon-qt-file-excel:before {
  content: "\e7cc";
}

.icon-qt-generator-cascader:before {
  content: "\e7cd";
}

.icon-qt-generator-checkbox:before {
  content: "\e7ce";
}

.icon-qt-highchartsGauge:before {
  content: "\e856";
}

.icon-qt-wf-outgoingApply:before {
  content: "\e854";
}

.icon-qt-mac:before {
  content: "\e7db";
}

.icon-qt-appDesign:before {
  content: "\e6f9";
}

.icon-qt-generator-pie:before {
  content: "\e60b";
}

.icon-qt-scanCode:before {
  content: "\e87e";
}

.icon-qt-mpUser:before {
  content: "\e794";
}

.icon-qt-printExample:before {
  content: "\e79a";
}

.icon-qt-qyOrg:before {
  content: "\e79e";
}

.icon-qt-qyMessage:before {
  content: "\e7a0";
}

.icon-qt-generator-subFlow:before {
  content: "\e61b";
}

.icon-qt-reportExample1:before {
  content: "\e7a2";
}

.icon-qt-qyConfig:before {
  content: "\e7a3";
}

.icon-qt-saoyisao:before {
  content: "\e623";
}

.icon-qt-highcharts-Pie:before {
  content: "\e7b6";
}

.icon-qt-report-icon-area:before {
  content: "\e63e";
}

.icon-qt-report-icon-arrow-down:before {
  content: "\e63f";
}

.icon-qt-report-icon-align-left:before {
  content: "\e640";
}

.icon-qt-report-icon-align-top:before {
  content: "\e641";
}

.icon-qt-report-icon-border-all:before {
  content: "\e642";
}

.icon-qt-report-icon-align-bottom:before {
  content: "\e643";
}

.icon-qt-report-icon-align-right:before {
  content: "\e644";
}

.icon-qt-report-icon-bold:before {
  content: "\e645";
}

.icon-qt-report-icon-border-bottom:before {
  content: "\e646";
}

.icon-qt-report-icon-align-center:before {
  content: "\e647";
}

.icon-qt-report-icon-border-right:before {
  content: "\e648";
}

.icon-qt-report-icon-bubble:before {
  content: "\e649";
}

.icon-qt-report-icon-diagram:before {
  content: "\e64a";
}

.icon-qt-report-icon-enlarge:before {
  content: "\e64b";
}

.icon-qt-report-icon-align-middle:before {
  content: "\e64c";
}

.icon-qt-report-icon-preview-pagePre:before {
  content: "\e64e";
}

.icon-qt-report-icon-border-left:before {
  content: "\e64f";
}

.icon-qt-report-icon-font:before {
  content: "\e652";
}

.icon-qt-report-icon-border-top:before {
  content: "\e653";
}

.icon-qt-report-icon-background-color:before {
  content: "\e656";
}

.icon-qt-report-icon-border-custom:before {
  content: "\e657";
}

.icon-qt-report-icon-horizontal-column:before {
  content: "\e65c";
}

.icon-qt-report-icon-column:before {
  content: "\e65d";
}

.icon-qt-report-icon-font-type:before {
  content: "\e65e";
}

.icon-qt-report-icon-import-excel:before {
  content: "\e65f";
}

.icon-qt-report-icon-restore:before {
  content: "\e662";
}

.icon-qt-report-icon-oblique-head:before {
  content: "\e663";
}

.icon-qt-report-icon-preview-pdf:before {
  content: "\e664";
}

.icon-qt-report-icon-preview-pageNext:before {
  content: "\e665";
}

.icon-qt-report-icon-preview-print:before {
  content: "\e666";
}

.icon-qt-report-icon-preview-pageLast:before {
  content: "\e667";
}

.icon-qt-report-icon-preview-excel-paging:before {
  content: "\e669";
}

.icon-qt-report-icon-radar:before {
  content: "\e66a";
}

.icon-qt-report-icon-border-none:before {
  content: "\e66b";
}

.icon-qt-report-icon-preview-word:before {
  content: "\e66c";
}

.icon-qt-report-icon-scatter:before {
  content: "\e66f";
}

.icon-qt-report-icon-preview-printPreview:before {
  content: "\e670";
}

.icon-qt-report-icon-preview-excel-with-paging-sheet:before {
  content: "\e671";
}

.icon-qt-report-icon-fontsize:before {
  content: "\e672";
}

.icon-qt-report-icon-search-setting:before {
  content: "\e673";
}

.icon-qt-report-icon-preview-excel:before {
  content: "\e674";
}

.icon-qt-report-icon-undo:before {
  content: "\e675";
}

.icon-qt-report-icon-shrink:before {
  content: "\e676";
}

.icon-qt-report-icon-configuration:before {
  content: "\e677";
}

.icon-qt-report-icon-preview-refresh:before {
  content: "\e678";
}

.icon-qt-report-icon-underline:before {
  content: "\e679";
}

.icon-qt-report-icon-italic:before {
  content: "\e67b";
}

.icon-qt-report-icon-preview-printPdf:before {
  content: "\e67c";
}

.icon-qt-report-icon-merge-cell:before {
  content: "\e67a";
}

.icon-qt-report-icon-polar-plot:before {
  content: "\e650";
}

.icon-qt-report-icon-page-preview:before {
  content: "\e668";
}

.icon-qt-report-icon-doughnut:before {
  content: "\e66e";
}

.icon-qt-report-icon-preview:before {
  content: "\e655";
}

.icon-qt-pageDesign:before {
  content: "\e684";
}

.icon-qt-customUrl:before {
  content: "\e685";
}

.icon-qt-btn-clearn:before {
  content: "\e80a";
}

.icon-qt-tree-organization1:before {
  content: "\e82e";
}

.icon-qt-generator-documents:before {
  content: "\e878";
}

.icon-qt-generator-createtime:before {
  content: "\e87c";
}